*{
    font-family:'Poppins', sans-serif ;
    outline: none;
}
body{
   background-color: #222222;
   margin: 0;
   padding: 0;
   outline: none;
   font-family: 'Poppins', sans-serif;
   color: white;
   scroll-behavior: smooth;
   overflow-x: hidden;
}
header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}
header::after{
    content: '';
    width: 60%;
    height: 1px;
    background-color: rgb(200, 200, 200);
    position: absolute;
    bottom: -10px;
}
header img{
    width: 150px;

}
hr{
    width: 80%;
}
article,.BCS,.comerc,.fact{
    max-width: 80%;
    margin: 50px 10%;
}
article p,.BCS p,.comerc p,.fact p{
    font-size: 20px;
}
article h1 , .BCS h1,.comerc h1,.fact h1{
    font-size: 45px;
    text-transform: capitalize;
}
.char {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 50px;
  margin-top: 80px;
  position: relative;
  max-width: 100%;
  margin: 0 10%;
}
.card{
    max-width:273px;
    transition: .4s ease;
    text-align: center;
}
.card img{
max-width:273px;
transition: .3s ease;
z-index: 1;
object-fit: cover;
}
.card p{
    margin: 5px;
}
.card h3{

    letter-spacing: .8px;
}
.card:hover{
    background-color: rgba(255, 255, 255, 0.037);
    transform: scale(1.1);
}
.imge-card{
    position: relative;
    cursor: pointer;
    object-fit: cover;
}
.imge-card>img:hover,.imge-card h2:hover~.imge-card img {
    opacity:40%;
}

.imge-card img:hover~h2, .imge-card h2:hover{
    display: inline;
}
.imge-card h2 {
    position: absolute;
    top: 50%;
    width: 100%;
    font-size: xx-large;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
    z-index: 100;
}
.char::after{
    content: '';
    height: 1px;
    width: 50%;
    position: absolute;
    bottom: -6%;left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
}
/* ############ */
.BB-sc{
    max-width: 100%;
    margin: 80px 0;
}
.BB-sc h1{
    text-transform: capitalize;
    text-align: center;
}
.vid-container{
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100%;
    padding: 10px;
    position: relative;
}
.vid-container video{
    width: 400px;
    height: 225px;
    transition: .3s ease;
    object-fit: contain;
    overflow: hidden;
    cursor: pointer;
}
.vid-container video:hover{
    transform: scale(1.1);
}
.vid{
    position: relative;
    margin: 10px;
    padding: 5px;
}
.vid-container .vid h3{
    position: absolute;
    top: -40px;
    left: 5%;
    margin: 5px 0;
    color: #ff6e6c;
}
@media(max-width:768px) {
    .vid-container video{
        width: 350px;
        height: 196.88px;
    }
    .popup video{
        width: 90%;
    }
    article{
        text-align: center;
    }
    header{
        margin-top: 15px;
    }
    .char::after{
        bottom: 1%;
    }
    .char{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .BCS::after,.BCS::before{
        display: none;
    }
    .comerc img{
        display: none;
    }
}
.popup{
    position: fixed;
    top: 0;left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0,.8);
    display: none;
    z-index: 104;
}
.popup video{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border: 3px white solid ;
    object-fit: cover;
}
.popup span {
    position: absolute;
    top: 5px ;right: 20px;
    font-size: 50px;
    color: white;
    font-weight: 500;
    z-index: 101;
    cursor: pointer;
}
.BCS{
    position: relative;
}
.comerc img{
    position: absolute;
    right: 30%;
    height: 270px;
}
footer{
    padding: 30px;
    text-align: center;
    font-size: 20px;
    position: relative;
}
footer::after{
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    top: -5px;left: 0;
    background-color: white;
}